# API Keys for Global Payments
# Replace these sample values with your actual API keys

# API Platform (GP API)
GP_API_APP_ID=UJqPrAhrDkGzzNoFInpzKqoI8vfZtGRV  #gitleaks:allow
GP_API_APP_KEY=zCFrbrn0NKly9sB4  #gitleaks:allow

# Portico
PUBLIC_API_KEY=pkapi_cert_jKc1FtuyAydZhZfbB3  #gitleaks:allow
SECRET_API_KEY=skapi_cert_MTyMAQBiHVEAewvIzXVFcmUd2UcyBge_eCpaASUp0A  #gitleaks:allow